extends ../node_modules/jade-bootstrap/_bootstrap
block body
  +navbar("OHSIHA","dropdown_menu","inverse")
    +nav_item("/") Etusivu
    +nav_item("/documents/") Tekstit
    +nav_item("/new/") Lisää uusi
