extends ../node_modules/jade-bootstrap/_bootstrap
block body
  +navbar("OHSIHA","dropdown_menu","inverse")
    +nav_item("/") Etusivu
    +nav_item("/documents/") Artikkelit
    if(!user)
      +nav_item("/login/") Kirjaudu sisään
      +nav_item("/register/") Rekisteröidy
    else
      +nav_item("/ownDocuments/") Omat artikkelit
      +nav_item("/new/") Lisää uusi
      +nav_item("/logout/") Kirjaudu ulos, #{user.username}
