include ./base.jade
    .container
      h1= title
      form(action="/register/", method="post")
        p
          label(for="username") Käyttäjätunnus:
        p
          input(type="text", name="username", id="username")
        p
          label(for="password") Salasana:
        p
          input(type="password", name="password", id="password")
        p
          input(type="submit", value="Rekisteröidy")
        p
          a(href="/login/") Minulla on jo tunnus
