include ./base.jade
    .container
      h1= title
      form(action="/register/", method="post")
        p
          label(for="username") Käyttäjätunnus:
        p
          input(type="text", name="username", id="username")
        p
          label(for="password") Salasana:
        p
          input(type="password", name="password", id="password")
        p
          button.btn.btn-primary(type="submit") Rekisteröidy
        p
          a.btn.btn-info(href="/login/") Minulla on jo käyttäjätunnus
